<form action="" method="post">
{% csrf_token %}
	House id :<input type="text" name="h_id" id="h_id" >
	Scope :<input type="text" name="spec" id="spec">
	<input type="submit" value="submit">
</form>

{% if hospitals %}
<table>
<tr>
	<td>Doctor Name</td>
	<td>Mob </td>
	<td>Availablity from</td>
	<td> to </td>
	<td>Hospital ID</td>
	<td>Name</td>
	<td>Contact</td>
	<td>distance</td>
	<td>Address</td>
</tr>
{% for x in hospitals %}
<tr>
	<td>{{x.5}}</td>
	<td>{{x.8}}</td>
	<td>{{x.6}}</td>
	<td>{{x.7}}</td>
	<td>{{x.0}}</td>
	<td>{{x.1}}</td>
	<td>{{x.3}}</td>
	<td>{{x.2}}</td>
	<td>{{x.4}}</td>
</tr>
{% endfor %}
{% endif %}